<section class="cards-container">

  <app-cards
    titulo="Teacher Carol"
    subtitulo="Inglês com"
    imagem="../../assets/ghost1.png"
    descricao="Professora com mais de 11 anos de experiência."
    estrelaImg="../../assets/coracao.png">
  </app-cards>

  <app-cards
    titulo="João"
    subtitulo="Curso de Inglês"
    imagem="../../assets/carol2.png"
    descricao="Aprendi muito rápido!"
    estrelaImg="../../assets/coracao.png">
  </app-cards>

  <app-cards
    titulo="Maria"
    subtitulo="Curso de Espanhol"
    imagem="../../assets/carol3.png"
    descricao="Didática excelente!"
    estrelaImg="../../assets/coracao.png">
  </app-cards>

</section>
