<section class="cards-container">

  <app-cards
    titulo="Teacher Carol"
    subtitulo="Inglês com"
    imagem="https://material.angular.io/assets/img/examples/shiba2.jpg"
    descricao="Professora com mais de 11 anos de experiência."
    estrelaImg="https://static-cdn.jtvnw.net/jtv_user_pictures/9155f3a4-d47a-4a15-8406-c3d246296cff-profile_image-70x70.png">
  </app-cards>

  <app-cards
    titulo="João"
    subtitulo="Curso de Inglês"
    imagem="https://material.angular.io/assets/img/examples/shiba1.jpg"
    descricao="Aprendi muito rápido!"
    estrelaImg="https://static-cdn.jtvnw.net/jtv_user_pictures/9155f3a4-d47a-4a15-8406-c3d246296cff-profile_image-70x70.png">
  </app-cards>

  <app-cards
    titulo="Maria"
    subtitulo="Curso de Espanhol"
    imagem="https://material.angular.io/assets/img/examples/shiba2.jpg"
    descricao="Didática excelente!"
    estrelaImg="https://static-cdn.jtvnw.net/jtv_user_pictures/9155f3a4-d47a-4a15-8406-c3d246296cff-profile_image-70x70.png">
  </app-cards>

</section>
