<div class="container">

  <!-- HERO -->
 <section class="hero box-base">
    <div class="hero-text">
      <h1>SEU INGLÊS, SEU RITMO</h1>
      <p>
        Aulas personalizadas com foco na sua evolução real.
        Aprenda de forma leve, prática e no seu tempo.
      </p>
      <button>COMEÇAR</button>
    </div>

    <div class="hero-img">
      <img src="assets/teacher.jpg" alt="Teacher">
    </div>
  </section>

  <!-- SOBRE -->
  <section class="section box-base">
    <h2>QUEM SOU EU</h2>
    <p>
      Professora de inglês há 11 anos e espanhol há 2 anos.
      Ensino focado em personalização e resultado real.
    </p>
  </section>

  <!-- CARDS -->
  <section class="cards">

    <div class="card">
      <h3>SEU RITMO</h3>
      <p>Cada aluno aprende de forma única.</p>
    </div>

    <div class="card">
      <h3>PRÁTICA</h3>
      <p>Foco em comunicação real.</p>
    </div>

    <div class="card">
      <h3>FLUÊNCIA</h3>
      <p>Construção sólida e progressiva.</p>
    </div>

  </section>

  <!-- CTA -->
  <section class="cta">
    <h2>ACREDITE NO SEU POTENCIAL</h2>
    <button>AGENDAR AULA</button>
  </section>

</div>