<div class="container">

  <section class="hero box">
    <div class="hero-text">

      <h1>SEU INGLÊS,<br>SEU RITMO</h1>
      <p>Aulas personalizadas com foco na sua evolução real.</p>
      <button>COMEÇAR</button>
    </div>

    <img class="hero-img" src="../../../assets/casal.png">
  </section>

  <section class="about box">
    <h2>QUEM SOU EU</h2>
    <p>Professora de inglês há 11 anos...</p>
  </section>

  <section class="cards">
    <div class="card box">SEU RITMO</div>
    <div class="card box">PRÁTICA</div>
    <div class="card box">FLUÊNCIA</div>
  </section>

  <section class="cta box">
    <h2>ACREDITE NO SEU POTENCIAL</h2>
    <button>AGENDAR AULA</button>
  </section>

</div>