<nav class="fun-nav">

  <div class="logo">
    <a routerLink="home">School Murloucos</a>
  </div>

  <ul class="nav-links">
    <li><a routerLink="home">Home</a></li>
    <li><a routerLink="/sobre">Sobre</a></li>
    <li><a routerLink="/turmas">Turmas</a></li>
    <li><a routerLink="/ingles">Inglês</a></li>
    <li><a routerLink="/espanhol">Espanhol</a></li>
    <li><a routerLink="/depoimentos">Depoimentos</a></li>
    <li><a routerLink="/contato">Contato</a></li>
  </ul>

  <div class="menu-toggle" (click)="toggleNavbar()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>

  <!-- decoração -->
  <div class="nav-star"></div>

</nav>